.page{
    height: 100%;
    width: 100%;
}
.page__back{
    height: 600px;
    width: 800px;
    background-image: url(../layer5.png);
    background-size: 100%;
    background-position: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    }
.page_card{
    background: white;
}