@import url('https://fonts.googleapis.com/css?family=Poppins');
   .block0{
    height: 800px;
    width: 100%;
    background-color: #0e0d1b;
    background-image: url(../img/header_1.jpg);
    font-family:"Poppins", sans-serif;
    }
   .article{
         width: 62%;
         margin: 0 auto;
         font-family: "Poppins", sans-serif; 
     }
   .block1{
       display: flex;
       justify-content: space-between;
       width: 62%;
       margin: auto;
   }
   li{
      display: inline-block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-left: 35px;
   }
    .event{
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
   }
.block2{
   display: flex;
   justify-content: center;
   width: 62%;
   margin: auto;
}
    .ready{
        font-size: 60px;
        font-family: "Poppins", sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        
       }
   .clash{
      font-size: 30px;
      font-family: "Poppins", sans-serif;
      color: rgb(255, 255, 255);
      text-align: center;
      
      }
      

  /* .button{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color:  #dddddd;
    box-sizing: border-box;
    background-color:  rgba(28, 221, 231, 0);
    width: 268px;
    height: 50px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transform: scaleY(1.0001);
    margin: auto;
     }*/
