@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Aleo');
.page{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.page__header{
    height:750px;
    background-image:url(../header.jpg);
    font-family: 'Josefin Sans', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.page__header__search{
    width:650px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}
.search__button{
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header--title{
color: #ffffff;
font-size: 48px;
font-weight: bold;
text-transform: uppercase;
}
.header--text{
font-size: 22px;  
color: #ffffff;      
}

.page__menu{
height: 80px;
background-color: #5474fd;
display: flex;
justify-content:space-around;
align-items: center;
color: #ffffff;

}
.menu--title{
    font-size: 24px;
        font-family: "Josefin Sans", sans-serif;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: left;     
}
.menu--text{
        font-size: 14px;
        font-family: "Aleo",serif;
        color: #ffffff;
        text-transform: uppercase;      
}

.page__section{
    height:680px;
    background-image:url(../section.jpg);
     display: flex;
    justify-content: space-around;
    color:#ffffff;
}
.section-block__text{
    margin: auto 0 auto 20% ;
}
.section-block__img{
    margin: auto 20% auto 0;
}
.section--text{
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;     
}
.page__nav{
    height: 340px;
    background-image:url(../page_nav.jpg);
}
.page__dscript{
    display:flex;
    height: 700px;
    background-image:url(../spain1.jpg);
    
}
.descript--box{
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 371px;
    background-color: #333333;
    background: rgba (0, 0, 0, 0.7); 
    margin: auto 20%;
}

.page__book{
    height: 700px;
    background-image: url(../spain2.jpg);
}
 .page__response{
     height: 700px;
     background-image: url(../response.jpg);
 } 
 .page__footer{
    height: 270px;
    background-color: #333333;
 }