/*.stroke {
 color:#202020;
 text-shadow: 1px 1px 0px #999, -1px -1px 0px #999;
}*/
p {
    font-style: Courier New, monospace;
    font-size: 30px;
}
* {
    color: grey;
}

p {
    color: red;
}

.first-p {
    background: #ddd;
    border: 1px solid #000;
}
#second{
    color: green;
}
div p:first-child{
  color: blueviolet;
}
.hover-test:hover{
    background: rgba(0,0,0,.1);
    border: 1px solid #000;

}
